extends layouts/default

block content
  .row
    .col-md-12
      .page-header
        h1=__(locals.breadcrumb[locals.breadcrumb.length-1].title)
          !=" "
          small Select a database to get a list of tables
  .row
    .col-md-2
      include sidebar

    .col-md-10
      include table_list