extends layouts/default

block content
  .row
    .col-md-12
      .page-header
        h1=table
          !=" "
          small View the Table
  .row
    .col-md-12
      include table_menu
  .row
    .col-md-12
      include table_view